#header {
    padding-top:100px;
    padding-bottom: 100px;
    /* background-image: url('/static/images/colosseum.jpg');
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

}
#header h1 {
    text-align: center;
    font-size:80pt;
    color: rgb(0, 0, 0);
}
nav {
    background-color: rgb(87, 87, 87);
}
